<p>monthly works!</p>
<div class="month_main">
    <div class="month__calendar">
        <div class="month__calendarHeader">Mon</div>
        <div class="month__calendarHeader">Tue</div>
        <div class="month__calendarHeader">Wed</div>
        <div class="month__calendarHeader">Thu</div>
        <div class="month__calendarHeader">Fri</div>
        <div class="month__calendarHeader">Sat</div>
        <div class="month__calendarHeader">Sun</div>
        <div class="month__calendarItem" *ngFor="let _ of [].constructor(30)"></div> 
    </div>
</div>
